* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.db {
  display: block;
}

a {
  text-decoration: none;
}

.fadeIn {
  opacity: 0;
}

.fadeIn.animated {
  opacity: 1;
}

.fadeInDown {
  opacity: 0;
  transform: translateY(200px);
}

.fadeInDown.animated {
  opacity: 1;
  transform: translateY(0px);
}

.fadeInLeft {
  opacity: 0;
  transform: translateX(-200px);
  transition: all 0.2s;
}

.fadeInLeft.animated {
  opacity: 1;
  transform: translateX(0px);
}

.fadeInUp {
  opacity: 0;
  transform: translateY(-200px);
  transition: all 0.2s;
  transition-timing-function: ease-in;
}

.fadeInUp.animated {
  opacity: 1;
  transform: translateY(0px);
}

.fadeInRight {
  opacity: 0;
  transform: translateX(200px);
  transition: all 0.2s;
}

.fadeInRight.animated {
  opacity: 1;
  transform: translateX(0px);
}

.header__top .wrapper {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top img {
  margin-right: 40px;
}

.header__info {
  color: #D12E32;
}

.header__bottom {
  background-color: rgb(9, 106, 166);
}

.header__bottom .wrapper {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
}

.header__nav-item {
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  position: relative;
}

.header__nav-item:not(:last-child) {
  margin-right: 25px;
}

.header__nav-item::before {
  position: absolute;
  content: "";
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  transition: all 0.2s;
  border-radius: 8px;
}

.header__nav-item:hover:before {
  width: 100%;
}

.header__registration {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
}

.header__registration::before {
  position: absolute;
  content: "";
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  transition: all 0.2s;
  border-radius: 8px;
}

.header__registration:hover:before {
  width: 100%;
}

.burger {
  width: 22px;
  height: 14px;
  display: flex;
  align-items: center;
  display: none;
}

.burger .burger-line {
  position: relative;
  width: 100%;
  height: 2px;
  border-radius: 8px;
  background-color: white;
}

.burger .burger-line:before,
.burger .burger-line:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: white;
  border-radius: 8px;
}

.burger .burger-line:before {
  top: -6px;
}

.burger .burger-line::after {
  top: 6px;
}

.footer {
  min-height: 200px;
  display: flex;
  align-items: center;
  background-color: rgb(9, 106, 166);
}

.footer .wrapper {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__links-box {
  display: flex;
  align-items: center;
}

.footer__link {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.footer__link:not(:last-child) {
  margin-right: 25px;
}

.footer__date {
  color: white;
}

.hero {
  background-image: url(../img/main-page/hero-bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.hero__content {
  padding-top: 60px;
  max-width: 1030px;
  padding-bottom: 405px;
}

.hero__logos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.hero__date {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #D12E32;
  margin-bottom: 10px;
}

.hero__place {
  color: rgb(9, 106, 166);
  max-width: 250px;
}

.hero__title {
  color: rgb(9, 106, 166);
  font-weight: 600;
  font-size: 32px;
  margin: 60px 0 60px 0;
  max-width: 900px;
}

.tasks {
  margin-bottom: 120px;
  position: relative;
}

.tasks__img {
  position: absolute;
  left: -200px;
}

.tasks__container {
  top: 30px;
  right: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 895px;
  margin-left: auto;
  margin-right: 0;
  padding-bottom: 190px;
}

.tasks__box {
  position: relative;
  margin-bottom: 60px;
}

.tasks__box img {
  position: absolute;
  z-index: 2;
  left: 40px;
}

.tasks__card {
  margin-top: 30px;
  position: relative;
  border: 1px solid rgb(239, 239, 239);
  min-height: 190px;
  background-color: white;
  max-width: 425px;
}

.tasks__text {
  margin: 0;
  max-width: 430px;
  line-height: 150%;
  padding: 45px 15px 25px 25px;
}

.tasks__info {
  position: absolute;
  bottom: 85px;
  right: 130px;
  display: flex;
}

.tasks__info img {
  max-height: 90px;
  margin-right: 20px;
}

.tasks__info-content {
  max-width: 360px;
}

.tasks__info-title {
  font-weight: 500;
}

.tasks__info-text {
  margin-top: 8px;
  margin-bottom: 16px;
}

.tasks__info-link {
  position: relative;
  color: rgb(57, 181, 242);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.tasks__info-link::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  right: -15px;
  top: 5px;
  border-radius: 2px;
  border-top: 2px solid rgb(57, 181, 242);
  border-right: 2px solid rgb(57, 181, 242);
  transform: rotate(45deg);
  transition: all 0.2s;
}

.tasks__info-link:hover:after {
  right: -18px;
}

.gallery-slider {
  margin-top: 60px;
  position: relative;
}

.gallery-slider .swiper-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.gallery-slider .swiper-slide {
  width: auto;
}

.gallery-slider .swiper-pagination {
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
  width: auto;
}

.gallery-slider .slider-bottom {
  margin-top: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-slider .slider-button {
  position: absolute;
  left: 82%;
}

.gallery-slider .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid rgb(57, 181, 242);
  cursor: pointer;
  margin: 0.2em;
  background: none;
  opacity: 1;
}

.gallery-slider .swiper-pagination-bullet-active {
  background: rgb(57, 181, 242);
}

.gallery {
  margin-bottom: 120px;
}

.forum {
  position: relative;
  margin-bottom: 120px;
}

.forum__subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: rgb(57, 181, 242);
  position: absolute;
  bottom: 0;
  left: 0;
}

.forum__container {
  position: relative;
  margin-top: 90px;
  display: flex;
}

.forum__container img {
  position: absolute;
  top: 0;
  right: -220px;
}

.forum__content {
  padding: 120px 0;
}

.forum__text {
  max-width: 560px;
  line-height: 24px;
  margin-bottom: 30px;
}

.forum__architecture {
  z-index: 2;
  position: relative;
  padding-bottom: 45px;
  margin-top: 80px;
  display: flex;
}

.forum__architecture-column {
  max-width: 340px;
  flex: 1;
}

.forum__architecture-column:not(:last-child) {
  margin-right: 60px;
}

.forum__architecture-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.forum__architecture-item img {
  margin-right: 10px;
  width: 38px;
  height: 25px;
}

.exhibition {
  position: relative;
  background-image: url(../img/main-page/exhibition-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.exhibition__container {
  position: relative;
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: end;
  min-height: 530px;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
}

.exhibition__img {
  position: absolute;
  left: 0;
}

.exhibition__img img {
  position: relative;
  width: 100%;
  left: -200px;
}

.exhibition__content {
  position: relative;
}

.exhibition__text {
  max-width: 573px;
  margin-bottom: 30px;
  line-height: 150%;
}

.exhibition__sections {
  margin-top: 70px;
}

.exhibition__subtitle {
  font-weight: 500;
  font-size: 24px;
  color: rgb(57, 181, 242);
}

.exhibition__sections-box {
  display: flex;
  margin-top: 40px;
}

.exhibition__sections-column:first-child {
  margin-right: 65px;
}

.exhibition__sections-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.exhibition__sections-item img {
  margin-right: 25px;
  width: 38px;
  height: 28px;
}

.organizers {
  margin-top: 120px;
}

.organizers__container {
  display: grid;
  grid-template-columns: 290px 330px 260px;
  margin-top: 60px;
}

.organizers__box {
  text-align: center;
  transition: all 0.2s;
}

.organizers__box:not(:last-child) {
  margin-right: 180px;
}

.organizers__box:hover {
  transform: scale(1.05);
}

.organizers__position {
  color: rgba(136, 136, 136, 0.9);
  font-size: 14px;
  margin-bottom: 15px;
}

.organizers__more-info {
  color: rgba(136, 136, 136, 0.9);
  font-size: 14px;
  margin-top: 15px;
}

.place {
  position: relative;
  margin-top: 120px;
}

.place .map-block {
  margin-top: 60px;
  width: 100%;
  min-height: 630px;
}

.place #map {
  width: 100%;
  min-height: 630px;
}

.menu {
  z-index: 5;
  position: fixed;
  right: -100%;
  top: 0;
  width: 100%;
  max-height: 100%;
  background-color: rgb(9, 106, 166);
  transition: all 0.3s;
  overflow-y: scroll;
  background-image: url(../img/menu/menu-bg.png);
  background-repeat: no-repeat;
  background-position: center right;
}

.menu.active {
  right: 0;
}

.menu .wrapper {
  padding-top: 70px;
  padding-bottom: 50px;
}

.menu .close-btn {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 20px;
  height: 20px;
}

.menu .close-btn::before,
.menu .close-btn::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 2px;
  background: white;
}

.menu .close-btn::after {
  transform: rotate(45deg);
  top: 50%;
  left: 50%;
}

.menu .close-btn::before {
  transform: rotate(-45deg);
  top: 50%;
  left: 50%;
}

.menu__box {
  background: white;
}

.menu__box:not(:last-child) {
  margin-bottom: 25px;
}

.menu__box a {
  text-transform: uppercase;
  font-size: 14px;
  color: rgb(49, 49, 49);
  padding-left: 90px;
}

.menu__box a:first-child {
  position: relative;
  font-size: 24px;
  color: rgb(57, 181, 242);
  font-weight: 600;
  margin-bottom: 30px;
}

.menu__box a:first-child::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, rgba(56, 181, 242, 0) 0%, rgb(56, 181, 242) 100%);
  left: 0;
  bottom: -10px;
  border-radius: 8px;
}

.menu__box a:not(:first-child) {
  margin-bottom: 10px;
}

.menu__box-content {
  padding: 30px 70px 30px 0;
}

.grey-decor {
  min-height: 260px;
  width: 97%;
  background: rgb(242, 242, 242);
  position: absolute;
  bottom: 0;
}

.grey-decor:before,
.grey-decor:after {
  position: absolute;
  content: "";
  width: 680px;
  height: 90px;
  background-image: url("../img/main-page/decor-elem.png");
  background-repeat: no-repeat;
}

.grey-decor:before {
  top: -25px;
}

.grey-decor:after {
  right: 6%;
  bottom: -25px;
}

.tasks .grey-decor {
  width: 2560px;
  background: linear-gradient(90deg, #e6e6e6 0, rgba(230, 230, 230, 0.5) 90%, rgba(255, 255, 255, 0.5) 100%);
}

.forum .grey-decor {
  width: 100%;
  min-height: 330px;
  background: linear-gradient(90deg, #e6e6e6 0, rgba(230, 230, 230, 0.5) 90%, rgba(255, 255, 255, 0.5) 100%);
}

.forum .grey-decor::after {
  display: none;
}

.forum .grey-decor::before {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  height: 7px;
  top: 90px;
  width: 50%;
  border-radius: 8px;
}

.decor {
  z-index: -1;
  width: 100%;
  position: absolute;
  background: linear-gradient(90deg, rgb(230, 230, 230) 0%, rgba(230, 230, 230, 0.5) 70%, rgba(255, 255, 255, 0.5) 100%);
}

.exhibition .decor {
  bottom: 25.7%;
  min-height: 210px;
}

.place .decor {
  min-height: 200px;
}

.place .decor:before {
  position: absolute;
  content: "";
  left: 0;
  top: 90px;
  width: 45%;
  height: 7px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.3) 0%, rgba(253, 255, 255, 0.8) 100%);
  border-radius: 3px;
}

.place .decor:after {
  position: absolute;
  content: "";
  width: 660px;
  height: 90px;
  background-image: url("../img/main-page/decor-elem.png");
  right: 0;
  top: -20px;
}

.title {
  position: relative;
  font-size: 40px;
  margin: 0;
  height: 150px;
}

.title__backline {
  position: absolute;
  left: 0;
  z-index: 1;
  height: 150px;
  width: 55%;
  background-color: rgb(9, 106, 166);
}

.title__frontline {
  z-index: 2;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #2294CB;
  height: 110px;
  width: 58%;
}

.title__frontline::before {
  position: absolute;
  content: "";
  width: 90%;
  border-radius: 3px;
  height: 7px;
  bottom: 25px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgb(253, 255, 255) 100%);
}

.title_white {
  z-index: 3;
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  top: 65px !important;
  color: white;
}

.title_blue {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: rgb(9, 106, 166);
}

.tasks .title {
  top: -150px;
}

.forum .title_white {
  position: relative;
  left: 0;
}

.forum .title__backline {
  width: 60%;
}

.forum .title__frontline {
  width: 90%;
  background: linear-gradient(89.83deg, #2192C9 75.29%, rgba(33, 146, 201, 0.11168) 91.18%, rgba(33, 146, 201, 0) 97.93%);
}

.forum .title__frontline:before {
  width: 37%;
}

.exhibition .title_white {
  position: relative;
  font-size: 36px;
  text-align: end;
}

.exhibition .title__backline {
  right: 0;
  left: auto;
  width: 64%;
}

.exhibition .title__frontline {
  right: 0;
  left: auto;
  background: linear-gradient(90.01deg, #2192C9 78.46%, rgba(33, 146, 201, 0) 99.1%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 95%;
}

.exhibition .title__frontline::before {
  width: 1800px;
}

.place .title_blue {
  padding-top: 20px;
  margin-bottom: 50px;
}

.wrapper {
  padding: 0 30px;
  max-width: 1320px;
  margin: auto;
}

.wrapper_box-shadow {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  padding: 0;
  max-width: 1390px;
  margin: 85px auto 120px auto;
}

.tasks .wrapper {
  position: relative;
  padding-bottom: 120px;
}

.button {
  background-color: rgb(57, 181, 242);
  padding: 15px 20px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
}

.button img {
  margin-left: 10px;
  transition: all 0.3s;
}

.button:hover img {
  margin-left: 15px;
}

.hero .button {
  margin-top: 30px;
  order: 4;
}

.logo {
  text-align: center;
  max-width: 161px;
}

.logo__position,
.logo__more-info {
  font-size: 14px;
  color: #747474;
}

.logo__position {
  margin-bottom: 15px;
}

.logo__more-info {
  margin-top: 10px;
}

.cards-box {
  padding: 75px 30px 110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  position: relative;
  display: flex;
  justify-content: end;
  min-width: 510px;
  margin-bottom: 100px;
}

.card__content {
  position: relative;
  border: 1px solid #BABABA;
  max-width: 468px;
  min-height: 220px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  flex: 1;
}

.card__img {
  position: absolute;
  left: -45px;
  top: 20px;
  z-index: 2;
  display: block;
}

.card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 170px;
  min-width: 251px;
  margin-bottom: 20px;
  margin-right: 30px;
}

.card__position {
  position: relative;
  color: #313131;
  font-weight: 600;
  max-width: 254px;
  margin-bottom: 45px;
  line-height: 150%;
}

.card__position::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -10px;
  background: linear-gradient(90.01deg, #75C4E9 5.85%, rgba(33, 147, 202, 0) 98.32%);
}

.card__name {
  color: #313131;
  font-weight: 300;
  margin-bottom: 10px;
  line-height: 22px;
}

.card__link {
  color: #38B5F2;
  display: flex;
  align-items: center;
  line-height: 22px;
}

.card__link img {
  margin-right: 10px;
}

.tour-agencies__container {
  padding: 60px;
}

.tour-agencies__subtitle {
  margin: 0 0 30px 0;
  font-weight: 600;
  font-size: 32px;
  line-height: 47px;
  color: #2193CA;
  text-transform: uppercase;
}

.tour-agencies__operators:not(:last-child) {
  margin-bottom: 80px;
}

.tour-agencies__sections {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
  border-bottom: 1px solid #BABABA;
}

.tour-agencies__section {
  padding: 12px 0;
  grid-column: 4 span;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #313131;
}

.tour-agencies__section:last-child {
  grid-column: 10/3 span;
}

.tour-agencies__box {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
  border-bottom: 1px solid #BABABA;
  padding: 30px 0;
}

.tour-agencies__box--border-none {
  border: none;
}

.tour-agencies__column {
  grid-column: 4 span;
}

.tour-agencies__column--contacts {
  grid-column: 5 span;
}

.tour-agencies__column--links {
  grid-column: 3 span;
}

.tour-agencies__prename {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.tour-agencies__name {
  display: block;
  margin: 0 0 12px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2193CA;
}

.tour-agencies__list {
  padding: 0;
  list-style: none;
  margin: 0;
}

.tour-agencies__item {
  position: relative;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  padding-left: 20px;
}

.tour-agencies__item::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #2193CA;
  left: 0;
  top: 7px;
}

.tour-agencies__item:not(:last-child) {
  margin-bottom: 8px;
}

.tour-agencies__item--mb {
  margin-bottom: 12px !important;
}

.tour-agencies__item--link {
  padding-left: 0;
  display: flex;
  align-items: center;
  color: #313131;
}

.tour-agencies__item--link img {
  margin-right: 10px;
}

.tour-agencies__item--points-none {
  padding-left: 0;
}

.tour-agencies__item--points-none::before {
  display: none;
}

.tour-agencies__item--phone-second {
  margin-left: 25px;
  position: relative;
  color: #313131;
  display: inline-block;
}

.tour-agencies__item--phone-second::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  left: -12px;
  background: rgb(49, 49, 49);
}

.tour-agencies__item--site {
  display: block;
  display: flex;
  align-items: center;
  color: #38B5F2;
  text-decoration: underline;
}

.tour-agencies__item--phone {
  padding-left: 32px;
  position: relative;
  display: inline-block;
  color: #313131;
}

.tour-agencies__item--phone::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: url(../img/tour/phone.svg);
  left: 0;
}

.tour-agencies ::-webkit-scrollbar {
  height: 3px;
}

.tour-agencies ::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.tour-agencies ::-webkit-scrollbar-thumb {
  background: #38B5F2;
  height: 3px;
  border-radius: 7.5px;
}

@media screen and (max-width: 1920px) {
  .exhibition .title__frontline::before {
    width: 1500px;
  }
}

@media screen and (max-width: 1800px) {
  .grey-decor:after {
    right: 25%;
  }
}

@media screen and (max-width: 1700px) {
  .forum__container img {
    position: relative;
    right: 0;
    width: 100%;
    margin-left: 30px;
    padding-right: 15px;
  }

  .forum__content {
    flex-shrink: 0;
    padding: 50px 0 140px 0;
  }

  .forum__text {
    margin-left: auto;
    margin-right: auto;
  }

  .exhibition__img {
    position: relative;
    margin-right: 30px;
  }

  .exhibition__img img {
    left: 0;
  }
}

@media screen and (max-width: 1440px) {
  .title_white {
    font-size: 34px;
  }

  .title_blue {
    font-size: 34px;
  }
}

@media screen and (max-width: 1280px) {
  .tour-agencies__container {
    padding: 70px 15px 30px 15px;
  }

  .tour-agencies__subtitle {
    font-size: 24px;
    line-height: 28px;
  }

  .tour-agencies__section,
  .tour-agencies__name,
  .tour-agencies__item {
    font-size: 14px;
    line-height: 20px;
  }

  .tour-agencies__box,
  .tour-agencies__sections {
    -moz-column-gap: 12px;
         column-gap: 12px;
  }

  .tour-agencies__item--phone {
    margin-bottom: 8px;
  }

  .tour-agencies__item--phone-second {
    margin-left: 0;
    margin-bottom: 8px;
    padding-left: 32px;
    display: block;
  }

  .tour-agencies__item--phone-second::after {
    width: 20px;
    height: 20px;
    left: 0px;
    background: url(../img/tour/phone.svg);
  }
}

@media screen and (max-width: 1200px) {
  .header__nav {
    display: none;
  }

  .header__registration {
    font-size: 14px;
  }

  .header__top .wrapper {
    height: 60px;
  }

  .header__top img {
    margin-right: 15px;
  }

  .header__bottom .wrapper {
    height: 35px;
  }

  .header__info {
    font-size: 13px;
    max-width: 110px;
  }

  .burger {
    display: flex;
  }

  .hero__content {
    max-width: 730px;
  }

  .hero__title {
    font-size: 24px;
  }

  .tasks__container {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 30px auto 0 auto;
    padding: 0;
  }

  .tasks__img {
    position: relative;
    margin: auto;
    display: block;
    left: auto;
  }

  .tasks__info {
    position: relative;
    right: 0;
    bottom: 0;
    justify-content: center;
    margin-top: 80px;
  }

  .forum__container {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 20px;
  }

  .forum__container img {
    position: relative;
    left: 0;
    margin-left: 0;
    padding: 0;
  }

  .forum__img {
    position: relative;
  }

  .forum__content {
    padding: 20px 0 100px 0;
  }

  .forum__architecture {
    grid-template-columns: 360px 360px;
    margin-top: 35px;
    justify-content: center;
  }

  .exhibition__content {
    left: 0;
    padding: 20px 0;
  }

  .exhibition__container {
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
  }

  .exhibition__img {
    margin: 0;
    position: relative;
  }

  .exhibition__img img {
    left: 0;
  }

  .exhibition__subtitle {
    padding: 0 15px;
  }

  .exhibition__sections-box {
    padding: 0 15px;
  }

  .grey-decor {
    min-height: 200px;
    width: 100%;
  }

  .grey-decor::after,
  .grey-decor::before {
    width: 230px;
    height: 30px;
    background-size: cover;
  }

  .grey-decor:before {
    top: -5px;
  }

  .grey-decor:after {
    right: 5%;
    bottom: -15px;
  }

  .tasks .grey-decor {
    width: 100%;
  }

  .forum .grey-decor {
    min-height: 280px;
  }

  .forum .grey-decor::before {
    display: none;
  }

  .exhibition .decor {
    bottom: 0;
    min-height: 400px;
  }

  .title__backline {
    display: none;
  }

  .title__frontline {
    width: 100%;
  }

  .title_white {
    font-size: 28px;
  }

  .title_blue {
    font-size: 28px;
  }

  .forum .title__frontline {
    background-color: #2294CB;
    width: 100%;
  }

  .forum .title__frontline::before {
    width: 90%;
    height: 4px;
  }

  .exhibition .title_white {
    text-align: start;
    font-size: 28px;
    padding: 0 15px;
  }

  .exhibition .title_white::after {
    position: absolute;
    content: "";
    width: 90%;
    height: 4px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
    left: 0;
    bottom: -20px;
    border-radius: 8px;
  }

  .exhibition .title__frontline {
    background-color: #2294CB;
    width: 100%;
    bottom: 0;
  }

  .exhibition .title__frontline::before {
    display: none;
  }

  .exhibition .wrapper {
    padding: 0;
  }

  .tasks .wrapper {
    padding-bottom: 35px;
  }
}

@media screen and (max-width: 1080px) {
  .cards-box {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .footer .wrapper {
    flex-direction: column;
  }

  .footer__logo {
    width: 86px;
    margin-bottom: 20px;
  }

  .footer__date {
    margin-top: 20px;
    font-size: 13px;
  }

  .hero {
    background-image: url(../img/main-page/flag.png);
    background-size: cover;
  }

  .hero__content {
    text-align: center;
    padding-bottom: 250px;
    padding-top: 40px;
    display: flex;
    flex-flow: column;
  }

  .hero__logos {
    align-items: center;
    margin-bottom: 30px;
    order: 1;
  }

  .hero__logos img {
    max-width: 200px;
  }

  .hero__logos img:nth-child(2) {
    max-width: 110px;
  }

  .hero__date {
    font-size: 28px;
  }

  .hero__place {
    font-size: 14px;
    margin: auto;
  }

  .hero__title {
    font-size: 22px;
    margin: 0 0 30px 0;
    order: 2;
  }

  .hero__info {
    order: 3;
  }

  .tasks {
    margin-bottom: 45px;
  }

  .tasks__img {
    width: 100%;
  }

  .tasks__container {
    grid-template-columns: none;
    grid-template-rows: none;
    width: calc(100% - 30px);
    margin: auto;
  }

  .tasks__box {
    width: 100%;
    margin-bottom: 25px;
  }

  .tasks__box img {
    width: 63px;
    top: 10px;
  }

  .tasks__card {
    width: 100%;
    max-width: none;
  }

  .tasks__card:last-child {
    margin-bottom: 30px;
  }

  .tasks__text {
    font-size: 14px;
    max-width: none;
  }

  .tasks__info {
    margin-top: 40px;
  }

  .tasks__info img {
    width: 50px;
    height: 60px;
  }

  .tasks__info-content {
    max-width: 240px;
  }

  .tasks__info-title {
    font-size: 14px;
  }

  .tasks__info-text {
    font-size: 14px;
  }

  .gallery-slider {
    margin-top: 25px;
  }

  .gallery-slider::before,
  .gallery-slider::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    top: 33%;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
  }

  .gallery-slider::before {
    left: -12px;
    transform: rotate(135deg);
  }

  .gallery-slider::after {
    right: -12px;
    transform: rotate(-45deg);
  }

  .gallery-slider .swiper-slide {
    width: 100%;
    flex-shrink: 0;
  }

  .gallery-slider .swiper-slide img {
    width: 100%;
    display: block;
  }

  .gallery-slider .swiper-pagination {
    display: none;
  }

  .gallery-slider .slider-bottom {
    margin-top: 30px;
  }

  .gallery-slider .slider-button {
    position: relative;
    left: auto;
  }

  .gallery {
    margin-bottom: 50px;
  }

  .forum {
    margin-bottom: 50px;
  }

  .forum__container {
    margin-top: 0;
  }

  .forum__content {
    padding: 25px 15px 60px 15px;
  }

  .forum__text {
    font-size: 14px;
  }

  .forum__subtitle {
    left: 15px;
    font-size: 22px;
  }

  .forum__architecture {
    padding: 0 15px;
    flex-direction: column;
    margin-top: 30px;
  }

  .forum__architecture-column {
    position: relative;
    max-width: none;
  }

  .forum__architecture-column:not(:last-child) {
    margin: 0 0 20px 0;
  }

  .forum__architecture-column:nth-child(1)::after {
    position: absolute;
    content: "";
    width: 90%;
    height: 5px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  }

  .forum__architecture-column:nth-child(2)::after {
    position: absolute;
    content: "";
    width: 90%;
    height: 5px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    right: 0;
  }

  .forum__architecture-item {
    font-size: 14px;
  }

  .exhibition {
    background: none;
  }

  .exhibition__container {
    margin-top: 0;
    padding: 0;
  }

  .exhibition__container img {
    width: 100%;
  }

  .exhibition__text {
    font-size: 14px;
  }

  .exhibition__content {
    padding: 25px 15px;
  }

  .exhibition__sections {
    margin: 0;
  }

  .exhibition__sections-box {
    padding: 0 15px;
    flex-direction: column;
    margin-top: 15px;
  }

  .exhibition__sections-column:first-child {
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
  }

  .exhibition__sections-column:first-child::after {
    position: absolute;
    content: "";
    width: 110%;
    height: 5px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  }

  .exhibition__sections-item {
    font-size: 14px;
    max-width: 320px;
    line-height: 143%;
  }

  .exhibition__sections-item img {
    margin-right: 10px;
  }

  .exhibition__subtitle {
    padding: 0 15px;
    font-size: 22px;
  }

  .organizers {
    margin-top: 50px;
  }

  .organizers__container {
    justify-content: space-between;
    grid-template-columns: 150px 150px;
    margin-top: 30px;
  }

  .organizers__box {
    margin-right: 0 !important;
  }

  .organizers__box:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 30px;
  }

  .place {
    margin-top: 50px;
  }

  .place .map-block {
    margin-top: 30px;
    width: 100%;
    min-height: 360px;
  }

  .place #map {
    width: 100%;
    min-height: 360px;
  }

  .place__detail {
    font-size: 14px;
    max-width: 300px;
  }

  .tasks .grey-decor {
    bottom: 15px;
  }

  .forum .grey-decor {
    min-height: 490px;
  }

  .exhibition .decor {
    min-height: 595px;
  }

  .place .decor {
    background-color: #F2F2F2;
  }

  .place .decor::after {
    top: -5px;
    width: 200px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .place .decor::before {
    top: 65px;
    width: 90%;
  }

  .title {
    height: 100px;
  }

  .title_white {
    top: 85px;
    font-size: 24px;
  }

  .title_blue {
    font-size: 24px;
  }

  .title__frontline {
    bottom: -85px;
  }

  .title__frontline::before {
    height: 4px;
  }

  .tasks .title {
    top: -110px;
  }

  .tasks .title_white {
    max-width: 300px;
    top: 90px !important;
  }

  .forum .title__frontline {
    bottom: 0;
    height: 100px;
  }

  .forum .title_white {
    top: 25px !important;
    margin-left: 15px;
  }

  .exhibition .title_white {
    font-size: 24px;
    line-height: 130%;
    top: 0 !important;
  }

  .place .title_blue {
    padding-top: 30px;
    margin-bottom: 20px;
  }

  .wrapper {
    padding: 0 15px;
  }

  .exhibition .wrapper {
    text-align: start;
  }

  .forum .wrapper {
    padding: 0;
  }

  .button {
    font-size: 13px;
  }

  .button img {
    height: 10px;
  }

  .hero .button {
    margin: 30px auto 0 auto;
  }

  .logo img {
    width: 40px;
  }

  .logo__position,
  .logo__more-info {
    font-size: 10px;
  }

  .logo__position {
    margin-bottom: 15px;
  }

  .logo__more-info {
    margin-top: 10px;
  }

  .cards-box {
    padding: 30px 0px;
  }

  .card {
    margin-bottom: 40px;
    justify-content: center;
    min-width: 100%;
  }

  .card__img {
    position: relative;
    left: 0;
    top: 0;
    max-width: 140px;
    margin-right: 10px;
  }

  .card__content {
    min-height: 160px;
    justify-content: space-between;
  }

  .card__info {
    flex-grow: 1;
    min-width: 160px;
    min-height: 135px;
    margin-bottom: 10px;
    margin-right: 15px;
  }

  .card__position {
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 35px;
    line-height: 138%;
    max-width: none;
  }

  .card__name,
  .card__link {
    font-size: 12px;
    margin-bottom: 0;
  }

  .tour-agencies__container {
    padding: 70px 0 30px 0;
    width: 100%;
    margin: auto;
    overflow-x: scroll;
  }

  .tour-agencies__box {
    width: 600px;
  }

  .tour-agencies__sections {
    width: 600px;
  }
}

@media screen and (max-width: 500px) {
  .hero {
    background-size: contain;
  }

  .exhibition .title_white {
    max-width: 370px;
    padding-top: 30px;
  }

  .exhibition .title__frontline {
    height: 180px;
  }

  .exhibition .title {
    height: 180px;
  }
}